.git
.gitignore
Jenkinsfile
Jenkinsfile.txt
ТЗ.txt
*.md
*.tar.gz
frontend
data
uploads
target/classes
target/node
target/maven-status
target/maven-archiver
target/surefire-reports
target/test-classes
target/randomness
target/*.original